<p id="notice"><%= notice %></p>

<p>
  <strong>Matter no:</strong>
  <%= @audit.matter_no %>
</p>

<p>
  <strong>Barrister:</strong>
  <%= @audit.barrister %>
</p>

<p>
  <strong>Matter name:</strong>
  <%= @audit.matter_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @audit.user %>
</p>

<p>
  <strong>Last updated:</strong>
  <%= @audit.last_updated %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @audit.amount %>
</p>

<%= link_to 'Edit', edit_audit_path(@audit) %> |
<%= link_to 'Back', audits_path %>
